html, body, ul, li, h1, .wrapper {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  text-align: center;
}

ul {
  list-style: none;
}

h1 {
  font-size: 3.5em;
  margin: 30px;
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

li {
  float: left;
  width: 20px;
  height: 20px;
}

.wrapper {
  display: inline-block;
  border: 1px solid #aeaeae;
}

.apple {
  background-color: #e17777;
}

.snake {
  background-color: #52abd8;;
}

li.game-over {
  background-color: #c33045;
}


.score {
  margin: 10px auto;
}

.center {
  text-align: center;
}

.instructions {
  margin-bottom: 20px;
  font-style: italic;
}
